<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-primary devise-box">
      <div class="panel-heading">
        <div class="panel-title"><h2 class="devise-box-title"><b>Voted!</b></h2></div>
      </div>
      <div class="panel-body">
        <h3 class="vote-message">Your vote was already computed.</h3>
      </div>
    </div>
  </div>
</div>