<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-primary devise-box">
      <div class="panel-heading">
        <div class="panel-title"><h2 class="devise-box-title"><b>Secret Vote</b></h2></div>
      </div>
      <div class="panel-body">
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
